html{
	position: relative;
	height: 100%;
	width: 100%;
}
body{
	overflow-x: scroll;
	#container{
		position: fixed;
		top: 0;
		left: 0;
		height: 500px;
		width: 100%;
	}
	height: 100%;
	width: 100%;
	.city-skyline{
		position: absolute;
		left: 50%;
		bottom: 0px;
		transform: translateX(-50%);
		width: 100%;
		height: 100%;
		#empire-state{
			#building-container{
				border: 1px solid black;
				position: absolute;
				width: 400px;
				background-color:white;
				height: 100%;
				left: 50%;
				transform: translateX(-50%);

					//BOTTOM ROW OUTER COLUMNS

					#bottom-outer{
						position: absolute;
						z-index: 20;
						bottom: 0px;
						background-color:#AFA282;
						border: 1px solid black;
						width: 30%; height: 25%;
						padding: 3%;
						overflow-y: hidden !important;
						&:nth-child(3){
							left: 0px;
						}
						&:nth-child(5){
							right: 0px;
						}
						.bottom-outer-row{
							height: 5%;
							width: 100%;
							margin-bottom: 5%;
							z-index: 4;
							.two-windows{
								float:left;
								width: 20%;
								bottom: 0px;

								&:after{
									content: '';
									clear:both;
									display: table;
								}

								.window{
									height: 10px;
									width: 10px;
									&:nth-child(2){
										float:right;
									}
									float: left;
									background-color: black;
									position: relative;

								}
							}
							.three-windows{

								float:left;
								margin: 0 5% 0 13%;
								width: 40%;
								.window{
									height: 10px;
									background-color: black;
									width: 10px;
									float:left;
									margin-right: 8%;
									position: relative;
									&:after{
										content: '';
										z-index: 2;
										top: 10px;
										position: absolute;
										height: 6px;
										width: 10px;
										background-color: #B0A296;
									}
								}
							}
						}
					}

					// MIDDLE ROW OUTER COLUMNS
					.middle-outer{
						position: absolute;
						border: 1px solid black;
						width: 30%;
						height: 22%;
						bottom: 26%;
						left: 3%;
						z-index: 15;

						background-color:#AFA282;
						&:before{
							clear: both;
							content: '';
						}
						&:nth-child(2){
							position: absolute;
							left: 66%;
						}
						overflow-y: hidden;
						.middle-outer-row{
							position: relative;
							&:first-child{
								margin-top: 10px;

							}
							height: 10px;
							margin-top: 7px;
							padding:  0px 15px 0px 13px;
							&:before{
								clear: both;
								content: '';
								display: table;

							}

							> .window{
								height: 10px;
								width: 10px;
								background-color: black;
								float: left;
								&:nth-child(3){
									float:right;
								}
								&:after{
									content: '';
									z-index: 1;
									top: 10px;
									position: absolute;
									height: 7px;
									width: 10px;
									background-color: #B0A296;

								}
							}
							.three-windows{
								margin-left: 2px;
								position: absolute;
								left: 50%;
								transform: translateX(-50%);
								.window{
									margin-right: 4px;
									height: 10px;
									width: 10px;
									background-color: black;
									float:left;
								}
							}
						}

					}
					.main-center{
						padding: 10px;
						position: absolute;
						border: 1px solid black;
						background-color: #AFA282;
						height: 60%;
						width: 186px;
						bottom: 0px;
						left: 50%;
						transform: translateX(-50%);
						.side-column{
							z-index: 2;
							position: absolute;
							height: 100%;

							width: 20px;
							bottom: 0px;
							overflow-y: hidden;
							&:nth-child(3){
								width: 20px;
								height: 100%;
								bottom: 0px;
								overlow-y:hidden;
								left: 172px;
								.two-windows{
									.window{
										position: relative;
									}
								}
							}
							.two-windows{
								margin-top: 10px;
								padding-bottom: 5px;
								&:before{
									content:'';
									clear: both;
									display: table;

								}
								.window{
									background-color:black;

									width: 9px;
									height: 10px;
									position: relative;
									&:first-child{
										float: left;
									}
									&:nth-child(2){
										float: right;
									}
								}
							}
						}
						.center-column{
							z-index: 2;
							position: absolute;
							height: 100%;
					
							bottom: 0px;
							width: 120px;
							left: 50%;
							overflow:hidden;
							transform: translateX(-50%);
							.left{
								position: absolute;
								height: 100%;
								left: 13px;
								width: 20px;
						
								.two-windows{
								margin-top: 10px;
								padding-bottom: 5px;
								&:before{
									content:'';
									clear: both;
									display: table;

								}
								.window{
									background-color:black;

									width: 9px;
									height: 10px;
									position: relative;
									&:first-child{
										float: left;
									}
									&:nth-child(2){
										float: right;
									}
								}
							}

							}
							.center{
								position: absolute;
								
								height: 100%;
								width: 20px;
								transform: translateX(-50%);
								left: 50%;
		
								.two-windows{
								margin-top: 10px;
								padding-bottom: 5px;
								&:before{
									content:'';
									clear: both;
									display: table;

								}
								.window{
									background-color:black;

									width: 9px;
									height: 10px;
									position: relative;
									&:first-child{
										float: left;
									}
									&:nth-child(2){
										float: right;
									}
								}
							}
							}
							.right{

								position: absolute;
								height: 100%;
								left: 86px;
								width: 20px;
								.two-windows{
								margin-top: 10px;
								padding-bottom: 5px;
								&:before{
									content:'';
									clear: both;
									display: table;

								}
								.window{
									background-color:black;

									width: 9px;
									height: 10px;
									position: relative;
									&:first-child{
										float: left;
									}
									&:nth-child(2){
										float: right;
									}
								}
							}
							}
						}
					}
				}
			}
		}
	}

