extends layout

block content
  h1= title
    form#formAddUser(name="adduser", method='POST', action="/adduser")
      input#inputUserName(type="text", placeholder="username", name="username")
      input#inputUserEmail(tyoe="text", placeholder="useremail", name="useremail")
      button#btnSubmit(type="submit") submit