<<<<<<< HEAD
nav.header{
  height: 75px;
  @include transform(translateY(-59%));
=======
header{

  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
  height: 100px;
  background-color: $blue;

  #header-container{
    @include wrapper;
    padding: 0px 50px;
    #logo{
      h1{
        color: $yellow;
      }
    }
  }


>>>>>>> 8e120e950615ecfcbcdc38df5bc364498a372e03
}