#results-section{
	width: 80%;
	height: 500px;
	margin: 0 auto;
	margin-top: 75px;
	padding: 0px;
	border: 6px solid black;
	@include clearfix;
	position: relative;
	i:hover{
		cursor: pointer;
		&.hidden{
			display: none;
		}
	}
	i.left{
		position: absolute;
		left: -50px;
		bottom: 39px;
		font-size: 25px;
	}
	i.right{
		position: absolute;
		right: -50px;
		bottom: 39px;
		font-size: 25px;
	}
	#map{
		width: calc(75% + 0px);
		height: 80%;
		border-left: 6px solid black;
		float:right;
	}

	.current-result-display{
		float:right;
		width: calc(25% - 6px);
		height: 80%;
	}

	.results-slider{

		border-top: none;
		height: 20%;
		width: 100%;
		float:left;
		border-top: 6px solid black;
		width: 100%;
		overflow: hidden;
		border-sizing: border-box;
		position: relative;
		@include transition(all 0.3s ease-in);

		.results{
			position: relative;
			height: 100%;
			overflow:hidden;
			right: 0px;
			@include transition(all 0.3s ease-in);
		}
		.result-tab{
			height: 100%;
			display: inline-block;
			float:left;
			position: relative;
			padding-right: 6px;
			border-right: 6px solid black;
			text-align: center;
			&.active{
				background-color: black;
				color:white;
				font-size: 18px;
				border-right: none;
			}
			span{
				position: absolute;
				bottom: 25px;
				left: 50%;
				@include transform(translateX(-50%));
			}
		}
	}
}